@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,800,900');
body {
	background-color: #D9DDF1;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;

}

.wrapper {
	width: 800px;
	margin: 2em auto;
}
h1 {
	font-size: 60px;
	color: #30312A;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
h4 {
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}
p{
	margin: 0;
	line-height: 1.9;
	font-size: 16px;
	font-weight: 400;
}
