@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,800,900');
body {
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	margin:0; 

}
.patter-img {
	position: absolute;
}

.main-img {
	width: 200px;
	position: absolute;
	top: 30px;
	left: 30px;
}
.main-img img {
	width: 100%;
}

.wrapper {
	width: 600px;
	margin: 2em auto;
}
h1 {
	font-size: 60px;
	color: #30312A;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}
h4 {
	font-size: 20px;
	font-weight: 500;
	margin: 0;
}
p{
	margin: 0;
	line-height: 1.9;
	font-size: 16px;
	font-weight: 400;
}
.content-body {
	/*margin: 2em 0;*/
}
.content-body__maintxt {
	margin: 2em 0;
}
.comments h4 {
	font-weight: 600;
}

.comments-body {
	margin: 2em 0;
}
.comments-body__item {
	width: 100%;
	background-color: rgba(217,221,241,.4);
	background-color: #E6EAFF;
	padding: 1em;
	border-radius: 10px;
}
.comments-body__meta {
	font-size: 12px;
	display: flex;
	color: #898C98;

}
.comments-body__meta-indent {
	margin: 1em 0; 
}
.comments-body__meta span {
	display: flex;
	align-items: center;
	margin-right: 1em; 
}
.comments-body__meta .material-icons {
	font-size: 16px;
	margin-right:.3em;
}
small {
	font-style: italic;
}